<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
  
<mapper namespace="DOLBOM">
	
	<!-- Guide 작성 -->
	<insert id="insert" parameterType="com.bc.vo.admin.GuideVO">
	INSERT INTO GUIDE (G_IDX, A_ID,G_TITLE, G_CONTENT,TYPE, FILE_NAME,ORI_NAME)
		VALUES (GUIDE_SEQ.NEXTVAL, #{a_id}, #{g_title}, #{g_content}, #{type}, #{file_name}, #{ori_name})		
	</insert>
	
	<!-- 공지사항 작성 -->
	<insert id="insert2" parameterType="com.bc.vo.admin.NoticeVO">
	INSERT INTO BOARD (IDX, A_ID, TITLE, CONTENT, B_DATE, FILE_NAME, ORI_NAME, HIT)
		VALUES (BOARD_SEQ.NEXTVAL, #{a_id}, #{title}, #{content}, SYSDATE, #{file_name}, #{ori_name}, #{hit})
	</insert>
	
	<!-- 회원 전체 조회 -->
	<select id="list"  resultType="com.bc.vo.admin.MemberVO">
	SELECT * FROM MEMBER ORDER BY USERID
	</select>
	
	
	<!-- 회원 아이디 한 개 조회 -->
	<select id="userlist" parameterType="string"  resultType="com.bc.vo.admin.MemberVO">
	SELECT USERID, TYP, PWD, PWD2, NAME, PHONE, BIRTH, ADDRESS, EMAILID, EMAILBOX, CHILD_AGE AS CHILDAGE, CARE, PAY
	FROM MEMBER WHERE USERID = #{userId}	
	</select>
	
	
	<!--회원 삭제 -->
	<delete id="delete" parameterType="string">
		DELETE FROM MEMBER WHERE USERID = #{userId}		
	</delete>
	
	
	<!-- 문의사항 전체 조회 -->
	<select id="qlist"  resultType="com.bc.vo.admin.QuestionsVO">
	SELECT Q_IDX as qIdx,EMAIL,NAME,PHONE,MEMBER_TYPE as memberType,TYPE_INQRY as typeInqry
	,Q_TITLE as qTitle,Q_CONTENT as qContent,Q_DATE as qDate,FILE_NAME as fileName,ORI_NAME as oriName
	FROM QUESTIONS
	</select>
	
	
	<!-- 문의사항 한 개 조회-->
 	<select id="qone"   parameterType="string" resultType="com.bc.vo.admin.QuestionsVO">
	SELECT Q_IDX as qIdx,EMAIL,NAME,PHONE,MEMBER_TYPE as memberType,TYPE_INQRY as typeInqry
	,Q_TITLE as qTitle,Q_CONTENT as qContent,Q_DATE as qDate,FILE_NAME as fileName,ORI_NAME as oriName
	FROM QUESTIONS WHERE Q_IDX = #{qIdx}
	</select>
 	
 	
 	
 	<!-- 문의사항 삭제 -->
 	<delete id="qdelete" parameterType="string">
		DELETE FROM QUESTIONS WHERE Q_IDX = #{qIdx}
	</delete>
 	
 	
 	
 	<!-- 공지사항 전체 조회 -->
 	<select id="nlist"  resultType="com.bc.vo.admin.NoticeVO">
 		SELECT * FROM BOARD ORDER BY IDX	
 	</select>
 	
 	
 	<!-- 공지사항 상세 조회 -->
 	<select id="none" parameterType="string" resultType="com.bc.vo.admin.NoticeVO">
 		SELECT IDX, A_ID, TITLE, CONTENT, B_DATE, FILE_NAME,ORI_NAME, HIT
 		FROM BOARD WHERE IDX =#{idx}	
 	</select>
 	
 	
 	<!-- 공지사항 삭제 -->
 	<delete id="ndelete" parameterType="string">
		DELETE FROM BOARD WHERE IDX =#{idx}
	</delete>
 	
 	
 	<!--가이드 전체 조회 -->
 	<select id="glist"  resultType="com.bc.vo.admin.GuideVO">
 		SELECT * FROM GUIDE ORDER BY G_IDX	
 	</select>
 	
 	
 	<!-- 가이드 상세 조회 -->
 	<select id="gone"  parameterType="string"  resultType="com.bc.vo.admin.GuideVO">
 		SELECT G_IDX, A_ID, G_TITLE ,G_CONTENT, TYPE, FILE_NAME ,ORI_NAME
 		FROM GUIDE WHERE G_IDX =#{g_idx}	
 	</select>
 	
 	
 	<!-- 가이드 삭제 -->
 	<delete id="gdelete" parameterType="string">
		DELETE FROM GUIDE WHERE G_IDX =#{g_idx}	
	</delete>
 	
 	<!-- 관리자 로그인 -->
 	<select id="adminlogin" parameterType="map" resultType="com.bc.vo.admin.AdminVO">
 	SELECT A_ID, PASSWORD, A_NAME 
 	FROM ADMIN WHERE A_ID =#{a_id} AND PASSWORD =#{password}
 	
 	</select>
 	
 	
</mapper>